{{! Page 2 – Cover with logo, website and date }}

<section class="quotation-page quotation-page-2">
  <div class="print-footer-mask page2-footer-mask"></div>
  <header class="page2-header">
    <img src="/icons/umbrella.svg" alt="" class="page2-logo">
  </header>

  <div class="page2-middle">
    <div class="page2-meta">
      <span class="page2-website">{{cover.website}}</span>
      <span class="page2-date">{{cover.date}}</span>
    </div>

    {{#if cover.extraFields}}
    <div class="page2-extra-fields">
      {{#each cover.extraFields}}
      <div class="page2-extra-row">
        <span class="page2-extra-label">{{this.label}}</span>
        <span class="page2-extra-value">{{this.value}}</span>
      </div>
      {{/each}}
    </div>
    {{/if}}
  </div>

  <div class="page2-brand">
    <img src="/icons/omprela-logo.svg" alt="" class="page2-brand-logo">
  </div>
</section>