<!DOCTYPE html>
<html lang="el">
<head>
  <meta charset="UTF-8">
  <title>{{title}} - {{footer.website}}</title>
  <link rel="stylesheet" href="/css/oikonomiki-prosfora.css?v=202603085">
  <link rel="stylesheet" href="/css/print.css?v=202603085">
</head>
<body class="quotation-page print{{#if themeClass}} {{themeClass}}{{/if}}">
  <div class="quotation-canvas">
    {{{body}}}
  </div>
</body>
</html>
